In [3]:
import pandas as pd

In [2]:
data = {
    'Name' : ['Arafat', 'Sakib', 'Rahat', 'Anindita'],
    'Age'  : [10,20,30,40],
    'City' : ['Dhaka', 'Rajshahi', 'Barishal', 'Khulna']
}

In [4]:
df = pd.DataFrame(data)
print("Created Dataframe")
print(df)

Created Dataframe
       Name  Age      City
0    Arafat   10     Dhaka
1     Sakib   20  Rajshahi
2     Rahat   30  Barishal
3  Anindita   40    Khulna

import data to csv

In [5]:
df.to_csv('file1.csv')

In [6]:
df.to_excel('file2.xlsx')

In [7]:
df.to_json('file3.json')

impot data

In [8]:
df = pd.read_csv('file1.csv')
print(df)

   Unnamed: 0      Name  Age      City
0           0    Arafat   10     Dhaka
1           1     Sakib   20  Rajshahi
2           2     Rahat   30  Barishal
3           3  Anindita   40    Khulna

In [10]:
df2 = pd.read_excel('file2.xlsx')
print(df2)

   Unnamed: 0      Name  Age      City
0           0    Arafat   10     Dhaka
1           1     Sakib   20  Rajshahi
2           2     Rahat   30  Barishal
3           3  Anindita   40    Khulna

In [11]:
df3 = pd.read_json('file3.json')
print(df3)

       Name  Age      City
0    Arafat   10     Dhaka
1     Sakib   20  Rajshahi
2     Rahat   30  Barishal
3  Anindita   40    Khulna